<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
		
    </startup>
	<appSettings>
		<add key="D" value="D:\DaaSEmployee\"/>
		<add key="ITPFIF-QC" value="\\172.16.94.29\DaasEmployee\"/>
		<add key="ITPFIF-STAGING" value="\\ITPFIF\DaasEmployee\"/>
		<add key="ITPFIF-PROD" value="\\ITPFIF\DaasEmployee\"/>
	</appSettings>
</configuration>
